Flask==3.0.0
Flask-SQLAlchemy==3.1.1
mysql-connector-python==8.2.0
requests
itsdangerous>=2.1.2 # Updated to meet Flask's requirement
jinja2>=3.1.2
werkzeug>=3.0.0
pymysql
Flask-Cors
Flask-JWT-Extended==4.6.0
python-dotenv==1.0.1
